html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

button {
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* padding: 0px 4vw; */
}

main > section, main article {
	margin-bottom: 5vh;
}

main > section:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url("design2/images/bg-hero-desktop.svg");
	background-color: #EDFBFE;
	padding: 0 3vw;
}

main article {
	border: 1px solid #F7F7F7;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin: 2vh 7vw;
	padding: 10vh 2vw;
	padding-left: 8vw;
}

main article section p {
	color: #B9BDBE;
}

main > section div, main > section img,
article > section, article img {
	max-width: 45%;
}

article section {
	align-self: center;
}

main section section:first-of-type {
	/* background-color: burlywood; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3vh 0;
}

main section section:first-of-type button {
	align-self: center;
	background-color: #ffffff;
	border: 1px solid white;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	color: black;
	font-weight: bold;
	outline: none;
	padding: 8px 4%;
	height: min-content;
}
main section section:first-of-type button a {
	color: black;
}
main section section:first-of-type img {
	height: 40px;
	width: 200px;
}

main section section:nth-of-type(2),
main article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10vh;
}

main section section:nth-of-type(2) h2 {
	font-size: 35px;
}

main section section:nth-of-type(2) button {
	background-color: #ED68C1;
	border: 1px solid #ed68c1;
	border-radius: 16px;
	color: white;
	padding: 1.5vh 5vw;
	font-weight: 600;
}

main section section:nth-of-type(2) p {
	color: #555;
}

#get_started {
	align-self: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	margin-bottom: -12vh;
}

#get_started h3 {
	color: #082025;
	font-size: 30px;
}

#get_started button {
	background-color: #ED68C1;
	border: 1px solid #ED68C1;
	border-radius: 22px;
	color: white;
	font-weight: bold;
	padding: 1.8vh 4vw;
}

/* Footer */
footer {
	background-color: #02252E;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 50vh;
	padding: 10vh 8vw;
	padding-top: 24vh;
}

footer img {
	filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(348deg) brightness(105%) contrast(100%);
}

footer > img, footer > section {
	margin-bottom: 4vh;
}

footer > img {
	align-self: flex-start;
}

footer section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer section article {
	margin-right: 10%;
	width: 40%;
}

footer section article div {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
}

footer section article div img {
	align-self: center;
	margin-right: 20px;
}

footer section article div:first-of-type img {
	margin-top: -8.5%;
}

footer article img {
	filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(348deg) brightness(105%) contrast(100%);
}

footer section ul {
	/* background-color: teal; */
	display: flex;
	flex-direction: column;
	width: 20%;
}

footer section ul li {
	margin-bottom: 1.5vh;
}

footer section > ul:last-of-type {
	flex-direction: row;
	justify-content: space-evenly;
}

footer ul ion-icon {
	border: 1px solid white;
	border-radius: 50%;
	padding: 7px;
}

footer ul ion-icon:hover {
	cursor: pointer;
}

footer small {
	align-self: flex-end;
}
/* Illustration */
.illustration {
	width: 50%;
}
/* main section:last-of-type {
} */

/* Icons */
ion-icon {
	font-size: 22px;
	color: white;
}

@media (max-width: 375px) {
	main section section {
		flex-direction: column;
		padding: 2vh 1vw;
		text-align: center;
	}
	main section section:first-of-type {
		margin-bottom: 4vh;
	}
	main section section:first-of-type img{
		height: 30%;
		width: 30%;
	}
	main section section:first-of-type button{
		font-size: 13px;
		padding-left: 10%;
		padding-right: 10%;
	}
	main section section:nth-of-type(2) {
		flex-direction: column;
	}
	main section section:nth-of-type(2) {
		justify-content: space-between;
		padding: 0 2vw;
	}
	main section section:nth-of-type(2) div {
		max-width: 100%;
	}
	main section section:nth-of-type(2) h2 {
		font-size: 24px;
	}
	main section section:nth-of-type(2) img {
		max-width: 100%;
		width: 100%;
	}
	main section section:nth-of-type(2) div button {
		margin: 3vh 0 8vh;
		width: 80%;
	}
	main article {
		flex-direction: column;
		margin: 2vh 5vw;
		padding: 6vh 10vw;
	}
	main article:nth-of-type(1),
	main article:nth-of-type(3) {
		flex-direction: column-reverse;
	}

	main article section {
		max-width: 100%;
		text-align: center;
	}

	main article img {
		margin-bottom: 8vh;
		max-width: 100%;
		width: 100% !important;
	}
	footer section article div:first-of-type img {
		margin-top: -19.5%;
	}
	#get_started {
		align-self: stretch;
		padding: 6vh 2vw;
		padding-top: 4vh;
	}
	#get_started h3 {
		font-size: 16px;
		text-align: center;
	}
	#get_started button {
		width: 70%;
	}
	footer section {
		flex-direction: column;
	}
	footer section > ul:last-of-type {
		flex-direction: row;
		justify-content: space-evenly;
	}
	footer > img {
		width: 60%;
	}
	footer section article,
	footer section ul {
		width: 100%;
	}
	footer section article {
		margin-bottom: 5vh;
	}
	footer section ul {
		padding: 0;
	}
	footer section > ul:nth-of-type(1) {
		margin-bottom: 0;
	}
	footer section > ul:nth-of-type(2) {
		margin-top: 0;
	}

	footer small {
		align-self: center;
		font-size: 12px;
		text-align: center;
	}
}
