body {
	padding: 10% 16%;
}

main {
	display: flex;
}

section {
	padding: 50px 30px;
	color: white;
}

section div {
	margin-bottom: 50px;
}

/* section div {
	border: 1px solidmargin;
	border-radius: 50%;
	width: 30px;
	height: 30px;
} */

/* #sed_div {
	background-color: #B46D1F;
	border-color: #B46D1F;
}
#suv_div {
	background-color: #10515A;
	border-color: #10515A;
}
#lux_div {
	background-color: #0D3330;
	border-color: #0D3330;
} */

#sedans {
	background-color: #E28525;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
#suvs {
	background-color: #1A6972;
}
#luxury {
	background-color: #11403F;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

button {
	border: 1px solid;
	padding: 12px 20px;
	border-radius: 20px;
	margin-top: 30px;
	font-weight: bolder;
}
#sedans button {
	color: #E28525;
	outline: #E28525;
}
#suvs button {
	color: #1A6972;
	outline: #1A6972;
}
#luxury button {
	color: #11403F;
	outline: #11403F;
}


/* For grid.html */

.grid {
	background-color: #1A1C28;
	display: grid;
	grid-template-columns: repeat(6, 12%);
	gap: 10px;
	grid-template-rows: repeat(7, 50px);
	padding: 5%;
}

.one {
	background-color: #EB5020;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 5;
}

.two {
	background-color: #FEA526;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 5;
	grid-column-end: 7;
}

.three {
	background-color: #59AB43;
	grid-row-start: 4;
	grid-row-end: 9;
	grid-column-start: 1;
	grid-column-end: 4;
}

.four {
	background-color: #05AEFC;
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 4;
	grid-column-end: 7;
}

.five {
	background-color: #05AEFC;
	grid-row-start: 6;
	grid-row-end: 9;
	grid-column-start: 4;
	grid-column-end: 7;
}